{% load static %}
<section class="Menu">
    <div class="filter-container">
        <a class="filter-button" href="{% url 'home' %}" >Clear Filters</a>

        <h1 class="filter-title">Brands</h1>
        <hr class="filter-break">
        {% for brand in brands %}
            <form class="filter-card" id="test"
                    hx-get="{% url 'search' %}"
                    hx-target="#Main-content"
                    hx-trigger="click"
                    hx-include="#searchInput"
            >
                <input type="submit" name="brand" class="filter-button " value="{{ brand }}" {{ brand }}>
                <img class="brand-photo" src="{{ brand.photo.url }}" alt="{{ brand }}">
            </form>
        {% endfor %}

        <h1 class="filter-title">Categories</h1>
        <hr class="filter-break">
        {% for category in categories %}
            <form
                hx-get="{% url 'search' %}"
                hx-trigger="click"
                hx-target="#Main-content"
                hx-include="#searchInput"
            >
                <input type="submit" name="category"  class="filter-button" value="{{ category }}" {{ category }}>
            </form>
        {% endfor %}
    </div>
</section>